h2 {
  text-align: center;
  margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #607d8b;
}

button:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

.time-of-day {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 15px 0px;
}

.header {
    text-align: center;
    font-size: 20px;
}

.setup.header {
    margin: 15px;
    text-align: center;
}

/*i.morning:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 15px;
    bottom: 12px;
    background-color: white;
    border-top: 1px solid black;
}*/

.medicine-setup {
    margin-top: 1em;
    width: 600px;
    overflow: hidden;
    margin: auto;
    display: inline-block;
    /*display: flex;
    justify-content: space-around;*/
}

.simulate.time-of-day {
    display: block;
    text-align: center;
}

.fa-pill{
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.5);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fa-pill:before {
  content: "\f205";
}

.succes-message {
    background-color: #e0ffe0;
    padding: 5px;
    margin: 5px auto;
    max-width: 200px;
    border-radius: 4px;
    line-height: 1.4em;
}

.error-message {
    margin-top: 1em;
    background-color: #ffdcdc;
    padding: 5px;
    max-width: 200px;
    margin: 1em auto;
    border-radius: 4px;
    line-height: 1.4em;
}

.unblock-button {
    margin: 10px auto auto auto;
    display: block;
}

.main-view.medicine {
    /*display: flex;*/
}

.main-view {
    padding-top: 20px;
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.main-view.wrapper {
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    overflow: scroll;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.card {
    padding: 15px;
    width: 154px;
    float: left;
    text-align: left;
    box-shadow: 1.5px 1.5px 10px 0.5px rgba(1,1,1,0.2);
    min-width: 150px;
    background: white;
    margin: auto 0.5em 1em;
    border-radius: 3px;
}

.info-message {
    margin: auto;
    width: 154px;
    float: none;
    padding: 15px;
    border-radius: 4px;
    line-height: 1.4em;
}

#square.medicine-dispenser-top {
    display: block;
    margin: auto;
    width: 200px;
    background: #656565;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trapezoid.medicine-dispenser-bottom {
    display: block;
	border-top: 100px solid #656565;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
    margin: auto;
}

#cup.medicine-container {
    border-top: 100px solid #656565;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 50px;
    margin: 30px auto 0px auto;
    position: relative;
}

.simulation-info.wrapper {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.container-info,.time-info {
    float: none;
}

.time-info.card {
    position: absolute;
    width: 120px;
    min-width: 120px;
    right: 15px;
    bottom: 15px;
}

.container-info.card {
    width: 120px;
    min-width: 120px;
}

.info-text {
    display: block;
    margin: 5px 0;
}

.card .title {
    font-weight: bold;
}

nav.simulate {
    padding: 2px 0px;
}

.container.pill {
    position: absolute;
}

.container-contents {
    position: relative;
    bottom: 60px;
    color: white;
    font-size: 20px;
}

.system-error {
    color: red;
    font-size: 50px;
}

@media screen and (max-width: 550px) {

    .simulation-info.wrapper {
        position: absolute;
        left: 15px;
        bottom: inherit;
        top: 80px;
    }

    .time-info.card {
        position: absolute;
        right: 15px;
        bottom: inherit;
        top: 80px
    }

}