<h2>My medicine</h2>
<div class="medicine-setup">
    <section *ngFor="let timeOfDay of timesOfDay" class="setup {{timeOfDay.name}}">
        <div class="setup {{timeOfDay.name}} header">
            <i class="fa {{timeOfDay.icon}} {{timeOfDay.name}}" aria-hidden="true"></i>
            <h3>{{timeOfDay.name}}</h3>
        </div>
        <ul class="{{timeOfDay.name}}">
            <li *ngFor="let medicine of medicines">
                <input type="checkbox" [checked]="timeOfDay.isInMedicines(medicine)" (change)="timeOfDay.updateMedicines(medicine)">
                <span>{{medicine.name}}</span>
            </li>
        </ul>
    </section>
</div>