nav.simulate {
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.directions {
    display: block;
    margin-bottom: 1em;
}

.take-button.wrapper {
    margin-top: 1em;
}