<div class="main-view wrapper">
    <div class="main-view">
        <section ng-model="currentTimeOfDay" class="simulate time-of-day">
            <div *ngIf="currentTimeOfDay.medicinesAvailable() && appService.simulationStarted && !currentTimeOfDay.medicinesDropped" class="notification-sound triangle-isosceles">
                <span>ping!</span>
            </div>
            <div class="medicine-dispenser-top" id="square">
                <div class="dispenser-display">
                    <p class="display-message">{{displayMessage}}</p>
                    <i *ngIf="container.isBlocked" class="fa fa-times system-error" aria-hidden="true"></i>
                </div>
                <button *ngIf="!currentTimeOfDay.medicinesDropped && currentTimeOfDay.medicinesAvailable() && appService.simulationStarted" class="get-medicine-button" (click)="dropMedicines()" type="button">Get them!</button>
            </div>
            <div class="medicine-dispenser-bottom" id="trapezoid">
            </div>
            <div id="cup" class="medicine-container">
                <span class="container-contents">{{container.getNumberOfMedicines()}}</span>
            </div>
            <div class="simulation-info wrapper">
                <div class="container-info card">
                    <span class="info-text title">Medicines in container:</span>
                    <span *ngIf="container.isEmpty()"> None</span>
                    <div *ngIf="!currentTimeOfDay.medicinesTaken">
                        <div *ngFor="let medicine of container.medicines">
                            <i [style.color]="medicine.color" class="fa fa-pill" aria-hidden="true"></i>
                            <span>{{medicine.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-info card">
                <div *ngIf="appService.simulationStarted">
                <span class="info-text title">Current time of day:</span>
                <span class="info-text">
                    <i class="fa {{currentTimeOfDay.icon}} {{currentTimeOfDay.name}}" aria-hidden="true"></i>
                    {{currentTimeOfDay.name}}
                </span>
                </div>
                <nav *ngIf="!container.isBlocked" class="simulate">
                    <button *ngIf="!appService.simulationStarted" (click)="startSimulation()" type="button">Start Simulation</button>
                    <button *ngIf="appService.simulationStarted" (click)="advanceSimulation()" type="button">Advance</button>
                </nav>
            </div>
            <div *ngIf="!container.isBlocked && container.getNumberOfMedicines()" class="take-button wrapper">
                <div *ngIf="currentTimeOfDay.medicinesTaken" class="succes-message">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Nom, nom!</span>
                </div>
                <button *ngIf="!currentTimeOfDay.medicinesTaken" (click)="takeMedicines()" class="take-button" type="button">Take them!</button>
            </div>
        </section>
    </div>
</div>