nav.simulate {
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.directions {
    display: block;
    margin-bottom: 1em;
}

.box-view.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.take-button.wrapper {
    margin-top: 1em;
}